.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-image: url("../images/cover-image-dark.png");
  --main-theme-color: #000028;
  --accent-color: #ff0070;
  --slogan-color: #db00ff;
  --slogan-shadow-color: #ff0070;
  --main-bg-color: var(--main-theme-color);
  --text-bg-color: var(--accent-color);
  --main-elements-color: var(--accent-color);
  --text-color: #f1b2ce;
  --decor-color: var(--main-elements-color);
  --hover-color: 1px solid rgba(255, 0, 112, 0.4);
  --dark-button-focus-visible:#FF0070;
}



