:root.theme-light {
  --main-bg-image: url("../images/cover-image-light.png");
  --main-theme-color: #353430;
  --accent-color: #ff8dcb;
  --slogan-color: #ffc2e6;
  --slogan-shadow-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --text-bg-color: #ff8dcb;
  --main-elements-color: var(--main-theme-color);
  --text-color: var(--main-theme-color);
  --hover-color: 1px solid rgba(50, 49, 45, 0.4);
  --button-focus:#353430;
  --link-focus: #353430;
  
}

.theme-light .header__inscription {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --main-bg-image: url("../images/cover-image-light.png");
    --main-theme-color: #353430;
    --accent-color: #ff8dcb;
    --slogan-color: #ffc2e6;
    --slogan-shadow-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --text-bg-color: #ff8dcb;
    --main-elements-color: var(--main-theme-color);
    --text-color: var(--main-theme-color);
    --hover-color: 1px solid rgba(50, 49, 45, 0.4);
    --button-focus:#353430;
    --link-focus: #353430;
    
  }
  .header__inscription {
    display: none;
  }

}
.theme-dark .header__inscription {
  display: flex;
}

 